<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<!--HEADER-->
<div class="pb-2 mt-4 mb-2 border-bottom bg-dark text-white d-flex ">
    <span id="header-user-name"></span>:<span class="mr-2" id="header-roles"></span>
    <a class="text-secondary ms-auto" href="/logout">Logout</a>
</div>


<div class="container-fluid ">
    <div class="row">
        <div class="p-0 col-2">
            <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                <button class="nav-link active" id="admin-panel-tab" data-bs-toggle="tab"
                        data-bs-target="#tab-admin-panel" type="button" role="tab" aria-controls="home"
                        aria-selected="true">Admin
                </button>
                <button class="nav-link" id="user-information-tab" data-bs-toggle="tab"
                        data-bs-target="#user-information" type="button" role="tab" aria-controls="profile"
                        aria-selected="false">User
                </button>
            </div>
        </div>
        <div class="col-10 px-0 tab-content" id="tab-admin-panel">
            <!-- ADMIN PANEL-->
            <div class=" tab-pane fade show active " id="admin-panel">
                <h2>Admin panel</h2>
                <ul class="nav nav-tabs" id="myTab1" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active"
                                id="home-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#users"
                                type="button"
                                role="tab" aria-controls="home" aria-selected="true">User table
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                data-bs-target="#new-user" type="button" role="tab"
                                aria-controls="profile" aria-selected="false">New User
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="tab-content-admin-panel">
                    <!--                USER_LIST-->
                    <div class="tab-pane fade show active card" style="width: 90%" id="users" role="tabpanel"
                         aria-labelledby="home-tab">
                        <div class="d-flex flex-column">
                            <div class="card-header">
                                <h3>All users</h3>
                            </div>
                            <table class="table card-body table-hover table-striped mt-1 mb-0 mx-auto"
                                   style="width: 90%">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">User City</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="tbody-users">

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--                NEW_USER-->
                    <div class="tab-pane fade show" id="new-user" role="tabpanel" aria-labelledby="home-tab">
                        <div>
                            <h3 class="bg-gray">Add new user</h3>
                            <form class="flex-content d-flex flex-column">
                                <label class="mx-auto" for="firstName">First Name</label>
                                <br>
                                <input class="mx-auto w-50" type="text"  id="firstName"/>
                                <div class="mx-auto w-50" style="color:red">
                                    Ошибка ввода имени!
                                </div>
                                <br/>
                                <label class="mx-auto" for="password"> Password </label>
                                <input class="mx-auto w-50" type="password"  id="password"/>
                                <div class="mx-auto w-50" style="color: red">
                                    Ошибка ввода Пароля!
                                </div>
                                <br/>
                                <label class="mx-auto" for="lastName">Last Name </label>
                                <input class="mx-auto w-50" type="text"  id="lastName"/>
                                <div class="mx-auto w-50" style="color:red">
                                    Ошибка ввода фамилии!
                                </div>
                                <br/>
                                <label class="mx-auto" for="userCity">City </label>
                                <input class="mx-auto w-50" type="text"  id="userCity"/>
                                <div class="mx-auto w-50" style="color:red">
                                    Ошибка ввода города!
                                </div>
                                <br/>
                                <label class="mx-auto" for="role">Role</label>
                                <select class="mx-auto w-50 form-control" id="role"
                                        multiple="multiple">
                                    <option ></option>
                                </select>
                                <input class="mx-auto w-50 my-5 btn btn-success" type="submit" value="Add new user"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 px-0 tab-pane fade" id="user-information">
                <h2>User information-page</h2>
                <div class="tab-content">
                    <div class=" show active card " style="width: 90%" id="home" role="tabpanel"
                         aria-labelledby="home-tab">
                        <div>
                            <div class="card-header">
                                <h3 class="bg-light">About user</h3>
                            </div>
                            <table class="table card-body table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">User City</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody >
                                <tr>
                                    <td >id</td>
                                    <td >first name</td>
                                    <td > last name</td>
                                    <td > user city</td>
                                    <td>
                                        <span class="mr-2"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--EDIT MODAL-->
<div class="modal fade"
     id="editModal"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" modal-dialog-centered>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                <button type="button" name="btnDisMissClose" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form id="formEditUser">
                <div class="modal-body col-md text-center" id="edit-modal-body">

                </div>
                <div class="modal-footer">
                    <button type="submit" name='btnEditModal' class="btn btn-primary">
                        Edit
                    </button>
                    <button type="button" name='btnCloseModal' class="btn btn-secondary"
                            data-bs-dismiss="modal">Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--DELETE MODAL-->
<div class="modal fade"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete
                    user</h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form class="modal-body col-md text-center">
                <div class="modal-body col-md">
                    <label for="id"><b>ID</b></label>
                    <input  class="form-control" id="id"  disabled/>
                    <br>
                    <label for="name1"><b>First Name</b></label>
                    <input class="form-control" id="name1"  disabled/>
                    <br>
                    <label for="surname1"><b>Last Name</b></label>
                    <input class="form-control" id="surname1" disabled/>
                    <br>
                    <label for="age1"><b>User City</b></label>
                    <input class="form-control" id="age1"  disabled/>
                    <br>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-danger">Delete
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/admin-panel-all-users.js" ></script>
</body>
</html>